<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebDientesitos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebDientesitos.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="~/images/Dientesito.svg">
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo"><img src="~/images/Dientesito.svg" alt="Logo de la empresa"></a>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Servicios">Servicios</a></li>
                <li><a asp-area="" asp-controller="Cita" asp-action="Index">Cita en línea</a></li>
            </ul>
            <a asp-area="" asp-controller="Login" asp-action="Index" class="login-button">Iniciar Sesión</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-container">
            <p>© 2023 Consultorio Dientesitos. Todos los derechos reservados.</p>
            <div class="contact-info">
                <h4>Contáctenos</h4>
                <p>Teléfono: <a>555-555-5555</a></p>
                <p>WhatsApp: <a>987654321</a></p>
                <p>Correo: <a>dientestiosweb@gmail.com</a></p>
            </div>
            <div class="map">
                <h4>Nuestra sede principal</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.9201742078657!2d-99.16434438497917!3d19.40525298690865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff31daabda33%3A0x19faa8d7e00e3695!2sConsultorio%20Dientesitos!5e0!3m2!1ses-419!2smx!4v1652914956432!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
