@model WebDientesitos.Models.Usuario
<head>
    <link rel="stylesheet" href="~/css/RegistroStyle.css">
</head>
<body>
    <form asp-controller="Usuario" asp-action="Listado" method="post">
        <h1>Registrar nuevo Usuario</h1>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" asp-for="dni" required>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" asp-for="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" asp-for="apellidos" required>
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" asp-for="contrasena" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo electronico:</label>
            <input type="email" id="correo" name="correo" asp-for="correo" required>
        </div>
        <div class="form-group">
            <label for="celular">Celular:</label>
            <input type="text" id="celular" name="celular" asp-for="celular" required>
        </div>
        <input type="hidden" id="esAdmin" name="esAdmin" asp-for="esAdmin" value="false" required>
        <button type="submit">Registrar</button>
    </form>
</body>