<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <div class="container mt-5 pt-5">
        <form asp-controller="Usuario" asp-action="IniciarSesion" method="post">
            <h1>Iniciar sesión</h1>
            <div class="form-group">
                <label for="userType">Tipo de usuario:</label>
                <select class="form-control" id="userType" name="rol">
                    <option value="doctor">Doctor</option>
                    <option value="paciente">Paciente</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" class="form-control" id="dni" name="dni" placeholder="Ingrese su DNI" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="contrasena" placeholder="Ingrese su contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            @if(ViewData["Mensaje"] != null)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                </div>
            }
        </form>
    </div>
</body>