@model Usuario
<head>
    <link rel="stylesheet" href="~/css/MenuUsuarioStyle.css">
</head>
<body>
    <main>
        @if (Model.esAdmin)
        {
            <h1>Bienvenido Doctor @Model.nombre @Model.apellidos</h1>
        }
        else
        {
            <h1>Bienvenido @Model.nombre @Model.apellidos</h1>
        }
        <div class="options-container">
            @if (Model.esAdmin)
            {
                <a asp-controller="Usuario" asp-action="Index" class="option">
                    <h2>Crear perfil Cliente</h2>
                </a>
                <a href="#" class="option">
                    <h2>Historial de pacientes</h2>
                </a>
                <a href="#" class="option">
                    <h2>Citas Reservadas</h2>
                </a>
                <a asp-controller="Usuario" asp-action="Listado" class="option">
                    <h2>Editar perfil</h2>
                </a>
            }
            else
            {
                <a asp-controller="Usuario" asp-action="Listado" class="option">
                    <h2>Editar perfil</h2>
                </a>
                <a asp-area="" asp-controller="Cita" asp-action="Index" class="option">
                    <h2>Reservar cita</h2>
                </a>
                <a href="#" class="option">
                    <h2>Citas Reservadas</h2>
                </a>
                <a href="#" class="option">
                    <h2>Historial clínico</h2>
                </a>
            }
        </div>
    </main>
</body>