@model WebDientesitos.Models.Paciente
@{
    Layout = "LayoutDoctor";
}
<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <div class="container">
        <h1>Registro de Paciente</h1>

        <form asp-controller="Doctor" asp-action="RegistrarPaciente" method="post">
            <div class="form-group">
                <label for="documento">Documento</label>
                <input type="text" class="form-control" id="documento" asp-for="Documento" placeholder="Ingrese su documento" required>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" asp-for="Nombre"  placeholder="Ingrese su nombre" required>
            </div>

            <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellidoPaterno" asp-for="ApellidoPaterno" placeholder="Ingrese su apellido paterno" required>
            </div>

            <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidoMaterno" asp-for="ApellidoMaterno" placeholder="Ingrese su apellido materno" required>
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" asp-for="Direccion" placeholder="Ingrese su correo electrónico" required>
            </div>

            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" asp-for="Telefono" placeholder="Ingrese su número de teléfono" required>
            </div>

            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" class="form-control" id="edad" asp-for="Edad" placeholder="Ingrese su edad" required>
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

</body>