<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <section class="container">
        <div class="jumbotron">
            <h1 class="display-4">Consultorio dental Dientesitos</h1>
            <p class="lead">Cuidando tu sonrisa, salud bucal y tu bolsillo 🤑</p>
        </div>

        <div class="row I">
            <div class="col-md-6">
                <h2>Nuestro Consultorio</h2>
                <p>En Dientesitos, nos enfocamos en brindar una atención de calidad y personalizada a nuestros pacientes. Nuestro equipo de dentistas altamente capacitados se dedica a mejorar tu salud bucal y mantener tu sonrisa radiante.</p>
            </div>
            <div class="col-md-6">
                <img src="~/images/DALL·E 2023-05-07 03.53.25 - Dental Office, 800 x 400.png" alt="Imagen del consultorio" class="img-fluid">
            </div>

        </div>

        <div class="row I">
            <div class="col-md-6">
                <h2>Nuestros Servicios</h2>
                <ul>
                    <li>Exámenes dentales regulares y limpiezas</li>
                    <li>Blanqueamiento dental</li>
                    <li>Tratamiento de caries y empastes</li>
                    <li>Endodoncia y tratamientos de conducto</li>
                    <li>Extracciones dentales</li>
                    <li>Ortodoncia y alineadores transparentes</li>
                    <li>Implantes dentales</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Nuestro Equipo</h2>
                <p>Nuestro equipo de dentistas altamente calificados y amigables está comprometido a brindar el mejor cuidado dental posible. Nos preocupamos por tu comodidad y bienestar durante cada visita al consultorio dental.</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Nosotros">Conoce a nuestro equipo</a>
            </div>
        </div>

        <div class="row I">
            <div class="col-md-6">
                <h2>Testimonios de Pacientes</h2>
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p>Estoy extremadamente satisfecho con el servicio que recibí en Dientesitos. El personal es amable, profesional y se aseguró de que me sintiera cómodo durante todo el tratamiento. El dentista Cañon fue muy cuidadoso y atento, y los resultados son simplemente asombrosos.</p>
                            <footer class="blockquote-footer">Juan Pérez, Fuente: De los deseos</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Contáctanos</h2>
                <p>Estamos aquí para responder cualquier pregunta que puedas tener. No dudes en contactarnos para programar una cita o solicitar más información.</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        Av. Campanita, Pixie Hollow, País de nunca jamás
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        Teléfono: +1 234 567 890
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        Correo electrónico: DientesitosWeb@gmail.com
                    </li>
                </ul>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Cita">Reserve una cita</a>
            </div>
        </div>
    </section>
</body>