<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <section class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Nuestros Servicios</h1>
            <p class="lead">Descubre los servicios que ofrecemos en Dientesitos</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio1.png" class="card-img-top" alt="Servicio1">
                    <div class="card-body">
                        <h5 class="card-title">Exámenes dentales regulares y limpiezas</h5>
                        <p class="card-text">
                            Realizamos exámenes dentales completos para evaluar la salud bucal de
                            nuestros pacientes y ofrecemos limpiezas profesionales para mantener una buena higiene
                            oral.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio2.png" class="card-img-top" alt="Servicio2">
                    <div class="card-body">
                        <h5 class="card-title">Blanqueamiento dental</h5>
                        <p class="card-text">
                            Ofrecemos tratamientos de blanqueamiento dental para ayudarte a obtener
                            una sonrisa más brillante y blanca.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio3.png" class="card-img-top" alt="Servicio3">
                    <div class="card-body">
                        <h5 class="card-title">Tratamiento de caries y empastes</h5>
                        <p class="card-text">
                            Brindamos tratamientos efectivos para tratar las caries y realizamos
                            empastes dentales de alta calidad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio4.png" class="card-img-top" alt="Servicio4">
                    <div class="card-body">
                        <h5 class="card-title">Endodoncia y tratamientos de conducto</h5>
                        <p class="card-text">
                            Realizamos tratamientos de endodoncia y conductos radiculares para
                            salvar dientes dañados o infectados.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio5.png" class="card-img-top" alt="Servicio5">
                    <div class="card-body">
                        <h5 class="card-title">Extracciones dentales</h5>
                        <p class="card-text">
                            Realizamos extracciones dentales seguras y cómodas para casos de dientes
                            dañados, fracturados o afectados por enfermedades.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio6.png" class="card-img-top" alt="Servicio6">
                    <div class="card-body">
                        <h5 class="card-title">Ortodoncia y alineadores transparentes</h5>
                        <p class="card-text">
                            Ofrecemos tratamientos de ortodoncia, incluyendo el uso de alineadores
                            transparentes, para corregir problemas de maloclusión y lograr una sonrisa alineada.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="~/images/Servicio7.png" class="card-img-top" alt="Servicio7">
                    <div class="card-body">
                        <h5 class="card-title">Implantes dentales</h5>
                        <p class="card-text">
                            Realizamos implantes dentales para reemplazar dientes perdidos y
                            restaurar la funcionalidad y estética de la sonrisa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>