<head>
    <link rel="stylesheet" href="~/css/ServiciosStyle.css">
</head>
<body>
    <section class="services">
        <h2>Nuestros servicios</h2>
        <div class="service-grid">
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.51.50 - dental exams.png" alt="Servicio 1">
                <h3>Exámenes dentales</h3>
                <p class="service-description">Realizamos exámenes completos para evaluar la salud dental de nuestros pacientes, detectar posibles problemas y prevenir futuras complicaciones.</p>
            </div>
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.53.23 - dental cleanings.png" alt="Servicio 2">
                <h3>Limpiezas dentales</h3>
                <p class="service-description">Utilizamos las últimas técnicas para realizar limpiezas dentales de alta calidad, eliminando la placa y el sarro acumulado y dejando los dientes y encías limpios y saludables.</p>
            </div>
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.54.09 - orthodontic treatments.png" alt="Servicio 3">
                <h3>Tratamientos de ortodoncia</h3>
                <p class="service-description">Ofrecemos tratamientos de ortodoncia personalizados para conseguir la sonrisa perfecta, corrigiendo problemas de alineación dental y maloclusiones.</p>
            </div>
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.54.46 - Teeth whitening.png" alt="Servicio 4">
                <h3>Blanqueamiento dental</h3>
                <p class="service-description">Utilizamos productos y técnicas de última generación para realizar blanqueamientos dentales seguros y efectivos, eliminando manchas y devolviendo el brillo natural a los dientes.</p>
            </div>
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.55.32 - Dental implants.png" alt="Servicio 5">
                <h3>Implantes dentales</h3>
                <p class="service-description">Ofrecemos soluciones permanentes para la pérdida de piezas dentales, colocando implantes que se integran de manera natural en el hueso y permiten recuperar la funcionalidad y estética dental.</p>
            </div>
            <div class="service">
                <img src="~/images/DALL·E 2023-05-07 04.56.50 - root canal treatments.png" alt="Servicio 6">
                <h3>Tratamientos de endodoncia</h3>
                <p class="service-description">Realizamos tratamientos de endodoncia para salvar dientes dañados o infectados, preservando la estructura dental y evitando la necesidad de extracciones.</p>
            </div>
        </div>
    </section>
</body>