<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css">
</head>
<body>
    <form action="#" method="post">
        <h1>Cita en línea</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo electronico:</label>
            <input type="email" id="correo" name="correo" required>
        </div>
        <div class="form-group">
            <label for="celular">Celular:</label>
            <input type="text" id="celular" name="celular" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
        </div>
        <div class="form-group">
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>
        </div>
        <div class="form-group">
            <label for="comentario">Comentario:</label>
            <input type="text" id="comentario" name="comentario" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>