/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*nav {
    background-color: #116A7B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

    nav .logo {
        float: left;
    }

        nav .logo img {
            height: 40px;
            margin: 10px;
        }

    nav ul {
        list-style: none;
        margin: auto;
        padding: inherit;
        display: flex;
    }

        nav ul li {
            margin: 0 10px;
        }

            nav ul li a {
                color: #5d5d5d;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
            }

        nav ul:after {
            content: "";
            display: block;
            clear: both;
        }

    nav .login-button {
        background-color: #C2DEDC;
        border: none;
        color: #C2DEDC;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin-left: -100px;
        margin-right: 20px;
    }

footer {
    background-color: #116A7B;
    color: #116A7B;
    padding: 20px;
    text-align: center;
}*/